.header {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 3px 7px #c4c4c4;
    margin-bottom: 30px;
}

.logo-and-name {
    display: flex;
    margin: 5px;
    align-items: center;
}

.logo {
    height: 40px;
    width: 40px;
}

.name {
    margin-left: 15px;
    font-weight: bold;
}